Hello <%= @user.first_name.titleize %>,

<p/>
Here are your favorite station readings for the day:
<p/>
<table class="table table-striped table-bordered table-hover">
  <thead>
  <tr>
    <th>Name</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th style="width: 3em;">Today's Weather</th>
    <th>Most Recent Reading</th>
    <th>Flow Rate</th>

    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
    <%= content_tag_for(:tr, @stations) do |station| %>
      <%= render partial: 'stations/station', locals: {station: station, user: @user} %>
    <% end %>
  </tbody>
</table>