<div class="page-header">
  <h3>Find us on LinkedIn:</h3>
</div>

<p>
  <%= link_to 'Dana Daldos', 'https://www.linkedin.com/in/danadaldos' %>
</p>
<p>
  <%= link_to 'Matt Lanterman', 'https://www.linkedin.com/pub/matt-lanterman/41/121/301' %>
</p>
<p>
  <%= link_to 'Piper Niehaus', 'https://www.linkedin.com/in/piperniehaus' %>
</p>


