<div class="page-header">
  <%= link_to rivers_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_river_path(@river), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show river</h1>
</div>

<dl class="dl-horizontal">
  <dt>Station:</dt>
  <dd><%= @river.station %></dd>

  <dt>Cfs:</dt>
  <dd><%= @river.cfs %></dd>

</dl>
